<h1>Cadastre seu Livro</h1>
<form action="/book/insertbook" method="POST">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Insert the title" />
  </div>
  <div class="form-control">
    <label for="pageqnty">Nmber of pages</label>
    <input type="text" name="pageqnty" placeholder="Quantity" />
  </div>
  <input type="submit" value="Register" class="btn btn-primary">
</form>