<h1>Livros disponiveis</h1>
<a href="/">Adicionar livro</a>
<div class="books-container">
  {{#each books as |alias|}}
    <div>#{{this.id}}
      -
      <span class="bold"> <a href="/books/{{this.id}}">{{this.title}}</a> </span>
      -
      {{this.pageqnty}}
      páginas
    </div>
  {{/each}}
</div>