<a
  href="/tought/dashboard"
  class="text-decoration-none text-secondary"
>Voltar</a>
<h2 class="p-2">Criando pensamentos</h2>
<form action="/tought/add" method="POST">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Pensamento</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      placeholder="Digite seu pensamento"
      name="title"
    />
  </div>
  <input type="submit" class="btn btn-primary" value="Criar pensamento" />
</form>